<div class="pure-u" id="main">
  <div class="content">
    <div class="tweet-content pure-g">
      <div class="tweet-content-header pure-g">
        <div class="pure-u-1-2">
          <h1 class="tweet-content-title">{{readableItem.title}}</h1>
            {{readableItem.domain}}
          <p class="tweet-content-subtitle">
            By {{readableItem.author}} at <span>{{shared_at}}</span>
          </p>
        </div>

        <div class="pure-u-1-2 tweet-content-controls">
          <button class="pure-button secondary-button"{{action markUnread model}}>Mark Unread</button>
        </div>
      </div>

      <div class="tweet-content-body pure-u-1">
        <p>Click here for original link:</p>
        <p><a {{bindAttr href="url"}} target="_blank">{{url}}</a></p>
        
        {{#if readableItem.content}}
          <p>{{{readableItem.content}}</p>
        {{else}}
          <p>Loading...</p>
        {{/if}}
      </div>
    </div>
  </div>
</div>