<div class="pure-g-r content" id="layout">
  <!-- SIDEBAR CONTENT: MOVE TO PARTIAL -->
  <div class="pure-u" id="nav">
    <a href="#nav" class="nav-menu-button">Menu</a>

    <div class="nav-inner">
      {{#if App.token}}
        <a href="/signout"><button class="pure-button primary-button">Sign Out</button></a>
      {{else}}
        <a href="/auth/twitter"><button class="pure-button primary-button">Sign In</button></a>
      {{/if}}

      <div class="pure-menu pure-menu-open">
        <ul>
          <li><a href="#">All <span class="email-count">(2)</span></a></li>
          <li><a href="#">Favorites</a></li>
          <li><a href="#">My Tweets</a></li>
          <li><a href="#">Mentions</a></li>
          <li><a href="#">My Timeline</a></li>
          <li class="pure-menu-heading">Labels</li>
          <li><a href="#"><span class="email-label-personal"></span>Personal</a></li>
          <li><a href="#"><span class="email-label-work"></span>Work</a></li>
          <li><a href="#"><span class="email-label-travel"></span>Travel</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="pure-u" id="list">
    <div class="content">
      {{#each item in model}}
        {{#linkTo 'sharedItem' item}}
          <div class="email-item email-item-selected pure-g">
            <div class="pure-u">
              <img {{bindAttr src="item.sharer_avatar_url"}} class="email-avatar" height="64" width="64">
            </div>

            <div class="pure-u-3-4">
              <h5 class="email-name">{{item.url}}</h5>
              <h4 class="email-subject">{{item.url}}</h4>
              <p class="email-desc">
                {{item.url}}
              </p>
            </div>
          </div>
        {{/linkTo}}
      {{else}}
        No items.
      {{/each}}
    </div>
  </div>

  {{outlet}}

</div>