<div class="pure-g-r content" id="layout">
  <!-- SIDEBAR CONTENT: MOVE TO PARTIAL -->
  <div class="pure-u" id="nav">
    <a href="#nav" class="nav-menu-button">Menu</a>

    <div class="nav-inner">
      {{#if App.token}}
        <a href="/signout"><button class="pure-button primary-button">Sign Out</button></a>
      {{else}}
        <a href="/auth/twitter"><button class="pure-button primary-button">Sign In</button></a>
      {{/if}}

      <div class="pure-menu pure-menu-open">
        <ul>
          <li><a href="#">All <span class="tweet-count">(2)</span></a></li>
          <li><a href="#">Favorites</a></li>
          <li><a href="#">My Tweets</a></li>
          <li><a href="#">Mentions</a></li>
          <li><a href="#">My Timeline</a></li>
          <li class="pure-menu-heading">Labels</li>
          <li><a href="#"><span class="tweet-label-personal"></span>Personal</a></li>
          <li><a href="#"><span class="tweet-label-work"></span>Work</a></li>
          <li><a href="#"><span class="tweet-label-travel"></span>Travel</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="pure-u" id="list">
    <div class="content">
      {{#each item in model}}
        {{#linkTo 'sharedItem' item class="tweet-item-link"}}
          <div {{action "select" item}} {{bindAttr class="item.isUnread:tweet-item-unread:tweet-item-read :tweet-item :pure-g"}}>
            <div class="pure-u">
              <img {{bindAttr src="item.sharer_avatar_url"}} class="tweet-avatar" height="64" width="64">
            </div>

            <div class="pure-u-3-4">
              <h5 class="tweet-name">@{{item.twitter_username}}</h5>
              <p class="tweet-subject">{{item.tweet_body}}</p>
              <p class="tweet-desc">
                {{item.display_url}}
              </p>
            </div>
          </div>
        {{/linkTo}}
      {{else}}
        No items.
      {{/each}}
    </div>
  </div>

  {{outlet}}

</div>