<!DOCTYPE html>
<html>
<head>
  <title>Tweetlinks</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script>App.set('token', '<%= logged_in? ? token : '' %>');</script>
</head>
<body>

<%= yield %>

</body>
</html>
